html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #dcd4cd;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  font-size: 1.5rem;
  color: #512200;
  font-family: Dosis, sans-serif;
  background-color: #dcd4cd;

}

h1{
  font-size: 1.5rem;
}

body {
  color: #512200;
  padding: 1rem;
}
a {
  list-style-type: none;
}

dl {
  column-count: 2;
}

.btn {
  color: #785439;
  text-decoration: none;
  border: solid 2px #785439;
  text-align: center;
  display: inline-block;
}

p {
  color: #512200;
}

div {
  text-align: center;
}

.link-card {

}

.link-card:hover {

}

.link-card h2 {

}
